*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f9;
}

.container {
    display: flex;
    gap: 40px;
}

.box {
    width: 200px;
    height: 200px;
    padding: 20px;
    border: 10px solid #333;
    background-color: #38bdf8;
    color: white;
    font-weight: bold;
}

.content-box {
    box-sizing: content-box;
}

.border-box {
    box-sizing: border-box;
}
